<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

</head>

<body>
    <div id="forms">
        <form novalidate id="login_form" action="/login" method="post" target="_top" style="visibility:">
            <div class="input-req-login">
                <label for="user">Username</label>
            </div>
            <div class="input-field-login icon username-container">
                <input name="user" id="user" autofocus="autofocus" value="" placeholder="Enter your username." class="std_textbox" type="text"
                    tabindex="1" required>
            </div>
            <div class="input-req-login login-password-field-label">
                <label for="pass">Password</label>
            </div>
            <div class="input-field-login icon password-container">
                <input name="pass" id="pass" placeholder="Enter your account password." class="std_textbox" type="password" tabindex="2"
                    required>
            </div>
            <div class="controls">
                <div class="login-btn">
                    <button name="login" type="submit" id="login_submit" tabindex="3">Log in</button>
                </div>

            </div>
            <div class="clear" id="push"></div>
        </form>
        <!--CLOSE forms -->
    </div>
</body>



</html>