<!DOCTYPE html>
<html>

<body>

    <p>Enter Youtube link and click download</p>
    <input id='yt_url' value='https://www.youtube.com/watch?v=VKgyH9k1CSM' />
    <button onclick="download_file()">Download</button>

    <p id="demo"></p>

    <script>
        function download_file() {
            url = document.getElementById('yt_url').value;
            console.log('url: ' + url);
            $.ajax({
                url: "download_file?url=" + url,
                type: 'GET',
                success: function (res) {
                    var _json = JSON.parse(res)
                    var fp = _json.fp;
                    var title = _json.title;
                    window.location.href = 'get_file?fp=' + fp + '&title=' + title;
                }
            });
        }
    </script>

</body>


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

</html>